<%- model_class = Chapter -%>
<script type="text/javascript">

</script>

<div class="page-header alert alert-success">
  <h4><%= @book.name %><%= " " %><%= @book.grade %></h4>
</div>

<div class="well">
  <ul>
  <% @chapters.each do |chapter| %>
    <h4 class="well" style="color: blue;">
      <i><%= link_to "#{chapter.name}", chapter_questions_path(chapter), :class=>"icon-arrow-right", :style=>"width: auto;" %></i>
    </h4>
  <% end %>
  </ul>
</div>

<div class="form-actions">
  <%= link_to "Go Back", books_path, :class => 'btn btn-primary'%>  <br/>
</div>